<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    {{>layout/head}}
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    {{>layout/header}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {{#user}}
                            <h1 class="m-0">{{name}}님의 회원정보 수정</h1>
                        {{/user}}
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="mypage">mypage</a></li>
                            <li class="breadcrumb-item active">modify</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <!-- 작업할 때 이 항목 내용을 수정하세요 -->
        <section class="content mt-5">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-3">

                        <!-- Profile Image -->
                        <div class="card card-success card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid img-square"
                                         src="/dist/img/FIREWORKS.gif">
                                </div>
                                {{#user}}
                                    <h3 class="profile-username text-center">회원 정보 수정</h3>
                                    <form method="post">
                                        <ul class="list-group list-group-unbordered mb-3 overflow-y-auto" style="height: 300px; overflow-x: hidden">
                                            <li><input type="hidden" name="userNo" value="{{userNo}}"></li>
                                            <li><input type="hidden" name="startdate" value="{{startdate}}"></li>
                                            <li class="list-group-item">
                                                <label class="row">
                                                    <b class="my-auto col-6">이름을 입력해주세요</b>
                                                    <input type="text" id="name" name="name" value="{{name}}" class="form-control col-5" placeholder="변경하실 이름을 입력해주세요">
                                                </label>
                                                <output id="outputName"></output>
                                            </li>
                                            <li class="list-group-item">
                                                <label class="row">
                                                    <b class="my-auto col-6">email을 입력해주세요</b>
                                                    <input type="text" id="email" name="email" value="{{email}}" class="form-control col-5" placeholder="변경하실 email을 입력해주세요">
                                                </label>
                                                <output id="outputEmail"></output>
                                            </li>
                                            <li class="list-group-item">
                                                <label class="row">
                                                    <b class="my-auto col-6">연락처를 입력해주세요</b>
                                                    <input type="text" id="phoneNum" name="phoneNum" value="{{phoneNum}}" class="form-control col-5" placeholder="변경하실 연락처를 입력해주세요">
                                                </label>
                                                <output id="outputHp"></output>
                                            </li>
                                            <li class="list-group-item">
                                                <label class="row justify-content-center col-12"> 부서를 선택해주세요
                                                    <select class="d-flex custom-select" name="deptNo">
                                                        <option selected value="{{deptEntity.deptNo}}">{{deptEntity.deptName}}</option>
                                                        {{#dept}}
                                                            <option value="{{deptNo}}">{{deptName}}</option>
                                                        {{/dept}}
                                                    </select>
                                                </label>
                                            </li>
                                            <li class="list-group-item">
                                                <label class="row justify-content-center col-12"> 직급을 선택해주세요
                                                    <select class="d-flex custom-select" name="positionNo">
                                                        <option selected value="{{positionNo}}">{{positionName}}</option>
                                                        {{#position}}
                                                            <option value="{{positionNo}}">{{positionName}}</option>
                                                        {{/position}}
                                                    </select>
                                                </label>
                                            </li>
                                            <li class="list-group-item ">
                                                <label class="row justify-content-center col-12"> 생일을 입력해주세요
                                                    <input type="date" class="form-control col-12" name="birthdate" placeholder="생일을 입력해주세요" value="{{birthdate}}" style="width: 300px">
                                                </label>
                                            </li>
                                            <li class="list-group-item">
                                                <label class="row justify-content-center col-12"> 입사일을 입력해주세요
                                                    <input type="date" class="form-control col-12" name="startdate" placeholder="생일을 입력해주세요" value="{{startdate}}" style="width: 300px">
                                                </label>
                                            </li>

                                        </ul>
                                    {{/user}}
                                    <div class="row col-12 justify-content-center mt-5">
                                        <div class="col-4">
                                            <a href="{{contextPath}}/auth/userinfo" class="btn btn-outline-dark btn-block"><b>이전으로</b></a>
                                        </div>
                                        <div class="col-4">
                                            <button type="submit" id="info-modify" class="btn btn-success btn-block"><b>수정하기</b></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {{>layout/footer}}
</div>
<!-- ./wrapper -->
{{>layout/library}}
<script>
    $(function () {
        $("#name").blur(function () {
            let name = document.querySelector("#name");
            let outputName = document.querySelector("#outputName");
            if(!name.value) {
                outputName.innerHTML = `<span id="insertName" style="color:red">이름을 입력해 주세요</span>`;
                $("#name").focus();
            }
            else {
                outputName.innerHTML = `<span id="insertName" style="color:black">이름이 입력되었습니다.</span>`;
            }
        })
        $("#email").blur(function () {
            let email = document.querySelector("#email");
            let outputEmail = document.querySelector("#outputEmail");
            if(!email.value) {
                outputEmail.innerHTML = `<span id="insertEmail" style="color:red">email을 입력해 주세요</span>`;
                $("#email").focus();
            }
            else {
                outputEmail.innerHTML = `<span id="insertEmail" style="color:black">email이 입력되었습니다.</span>`;
            }
        })
        $("#phoneNum").blur(function() {
            let hp = document.querySelector("#phoneNum");
            let outputHp = document.querySelector("#outputHp");
            if(!hp.value) {
                outputHp.innerHTML = `<span id="insertHp" style="color:red">연락처를 입력해 주세요</span>`;
                $("#phoneNum").focus();
            }
            else {
                outputHp.innerHTML = `<span id="insertHp" style="color:black">연락처가 입력되었습니다.</span>`;
            }
        })
        $("#info-modify").click(function () {
            let result = confirm("회원 정보를 수정하시겠습니까?")
            if(result) {
                alert("회원정보가 수정되었습니다. 다시 로그인해주세요")
            }
        })

    })
</script>
</body>
</html>
