<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    {{>layout/head}}
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    {{>layout/header}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0"></h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">mypage</li>
                            <li><a class="btn btn-secondary btn-sm ml-3" href="{{contextPath}}/auth/userinfo">회원정보 확인</a></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <!-- 작업할 때 이 항목 내용을 수정하세요 -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <section class="col-lg-5 connectedSortable float-left">
                        <!-- Calendar -->
                        <div class="card bg-gradient-secondary">
                            <div class="card-header border-0">
                                <h3 class="card-title">
                                    <i class="far fa-calendar-alt"></i>

                                    개인 일정
                                </h3>
                                <!-- tools card -->
                                <div class="card-tools">
                                    <!-- button with a dropdown -->
                                    <div class="btn-group">
                                        <div class="m-1">
                                            {{#user}}
                                                <a class="btn btn-info" href="/auth/getAttend/{{userNo}}">
                                                    근태확인
                                                </a>
                                            {{/user}}
                                        </div>
                                    </div>
                                </div>
                                <!-- /. tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body pt-0">
                                <!--The calendar -->
                                <div id="calendar" style="width: 100%"></div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </section>
                    <!-- Main row -->
                    <!-- Left col -->
                    <section class="col-lg-7 connectedSortable float-right">
                        <!-- TO DO List -->
                        <div class="card">
                            <div class="card-footer">
                                <span>게시판</span>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <ul class="todo-list" data-widget="todo-list">
                                    <li>게시글1</li>
                                    <li>게시글1</li>
                                    <li>게시글1</li>
                                    <li>게시글1</li>
                                    <li>게시글1</li>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </section>
                </div>
                <section class="col-lg-5 connectedSortable float-left">
                    <div class="card-footer clearfix">
                        <button type="submit" class="btn btn-default">전자서명</button>
                        <a href="#" type="button" class="btn btn-outline-secondary float-right ">전자서명 등록</a>
                    </div>
                </section>
                <section class="col-lg-7 connectedSortable float-right">
                    <div class="card-footer clearfix">
                        <button type="submit" class="btn btn-default">나의 결재선</button>
                        <a href="{{contextPath}}/line/addLine" type="button" class="btn btn-outline-dark float-right ">결재선 추가</a>
                    </div>
                </section>
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->

                <!-- right col -->
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {{>layout/footer}}
</div>
<!-- ./wrapper -->
{{>layout/library}}

</body>
</html>
