<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to "FireWorks!"</title>
    {{>layout/head}}
</head>
<style>
    .input-group-text {
        width: 40px;
    }
</style>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="card card-outline card-secondary">
        <div class="mx-auto">
            <img style="width: 200px" src="/dist/img/FIREWORKS.gif">
        </div>
        <div class="card-body">
            <p class="login-box-msg"><strong>FireWork 회원가입</strong></p>

            <form method="post" id="frm" modelattribute="member" action="signupProc">
                <div class="overflow-auto mb-3 scrollCustom" style="height: 300px">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" value="{{#member}}{{member.username}}{{/member}}" name="username" placeholder="아이디를 입력해주세요">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                        {{#valid_username}}<span class="col-12" id="valid" style="color: red">{{valid_username}}</span>{{/valid_username}}
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="pw" name="password" placeholder="비밀번호를 입력해주세요">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        {{#valid_password}}<span class="col-12" id="valid" style="color: red">{{valid_password}}</span>{{/valid_password}}
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="checkPw" placeholder="비밀번호를 한번 더 입력해주세요">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <output id="outputPw" class="col-12"></output>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="name" placeholder="이름을 입력해주세요">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fas fa-pencil-alt"></i>
                            </div>
                        </div>
                        {{#valid_name}}<span class="col-12" id="valid" style="color: red">{{valid_name}}</span>{{/valid_name}}
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="email" placeholder="Email을 입력해주세요">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        {{#valid_email}}<span class="col-12" id="valid" style="color: red">{{valid_email}}</span>{{/valid_email}}
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="phoneNum" placeholder="연락처를 입력해주세요">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-mobile-alt" style="width: 16px"></span>
                            </div>
                        </div>
                        {{#valid_phoneNum}}<span class="col-12" id="valid" style="color: red">{{valid_phoneNum}}</span>{{/valid_phoneNum}}
                    </div>
                    <div class="input-group mb-3">
                            <select class="d-flex custom-select" name="deptNo">
                                <option selected>부서를 선택해주세요</option>
                                {{#dept}}
                                <option value="{{deptNo}}">{{deptName}}</option>
                                {{/dept}}
                            </select>
                    </div>
                    <div class="input-group mb-3">
                            <select class="d-flex custom-select" name="positionNo">
                                <option selected>직급을 선택해주세요</option>
                                {{#position}}
                                <option value="{{positionNo}}">{{positionName}}</option>
                                {{/position}}
                            </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="text-center"> 생일을 입력해주세요
                            <input type="date" class="form-control" name="birthdate" placeholder="생일을 입력해주세요"  style="width: 300px">
                        </label>
                        {{#valid_birthdate}}<span class="col-12" id="valid" style="color: red">{{valid_birthdate}}</span>{{/valid_birthdate}}
                    </div>
                    <div class="input-group mb-3">
                        <label class="text-center"> 입사일을 입력해주세요
                            <input type="date" class="form-control" id="startdate" name="startdate" placeholder="입사일을 입력해주세요" style="width: 300px">
                        </label>
                        {{#valid_startdate}}<span class="col-12" id="valid" style="color: red">{{valid_startdate}}</span>{{/valid_startdate}}
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12 ">

                        <button type="submit" class="btn btn-secondary btn-block" id="saveBtn" disabled="disabled"><i class="fas fa-user-edit" style="color: white;"></i> 회원가입</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>



        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<script>
    $(function() {
        let outputPw = document.querySelector("#outputPw");
        let pass = document.querySelector("#pw");
        let passChk = document.querySelector("#checkPw");
        let save = document.querySelector("#saveBtn");
        $("#checkPw").blur(function() {
            if(passChk.value !== pass.value) {
                outputPw.innerHTML = "비밀번호가 일치하지 않습니다.";
                outputPw.style.color = "red";
                passChk.focus();
            }
            else {
                outputPw.innerHTML = "비밀번호가 일치합니다.";
                outputPw.style.color = "black";
                save.disabled = false
            }
        })
    })
</script>
</body>
</html>
