<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Registration Page (v2)</title>

    {{>layout/head}}
</head>
<style>
    .input-group-text {
        width: 40px;
    }
</style>
<body class="hold-transition register-page">

<div class="register-box">
    <div class="card card-outline card-secondary">
        <div class="mx-auto">
            <img style="width: 200px" src="/dist/img/FIREWORKS.gif">
        </div>
        <div class="card-body">
            <p class="login-box-msg"><strong>FireWork에 오신걸 환영합니다.</strong></p>

            <form method="post">
                <div class="overflow-auto mb-3 scrollCustom" style="height: 300px">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="username" placeholder="아이디를 입력해주세요">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="password" placeholder="비밀번호를 입력해주세요">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="비밀번호를 한번 더 입력해주세요">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="name" placeholder="이름을 입력해주세요">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" name="email" placeholder="Email을 입력해주세요">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="phoneNum" placeholder="연락처를 입력해주세요">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-mobile-alt" style="width: 16px"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3" style="width: 100%">
                        <select class="d-flex custom-select" name="deptNo">
                            <option selected>부서를 선택해주세요</option>
                            <option value="1">인사팀</option>
                            <option value="2">총무팀</option>
                        </select>
                </div>
                <div class="input-group mb-3">
                        <select class="d-flex custom-select" name="deptNo">
                            <option selected>직급을 선택해주세요</option>
                            <option value="1">사원</option>
                            <option value="2">대리</option>
                        </select>
                </div>
                <div class="input-group mb-3">
                    <label class="text-center"> 생일을 입력해주세요
                        <input type="date" class="form-control" name="birthdate" placeholder="생일을 입력해주세요"  style="width: 300px">
                    </label>
                </div>
                <div class="input-group mb-3">
                    <label class="text-center"> 입사일을 입력해주세요
                        <input type="date" class="form-control" id="startdate" name="startdate" placeholder="입사일을 입력해주세요" style="width: 300px">
                    </label>
                </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12 ">

                        <button type="submit" class="btn btn-secondary btn-block"><i class="fas fa-user-edit" style="color: white;"></i> 회원가입</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>


            <div class="social-auth-links text-center">
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i>
                    Sign up using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i>
                    Sign up using Google+
                </a>
            </div>

        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>
