<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FireWorks!</title>

    {{>layout/head}}
    <style>
        .tagHere {
            color: black;
        }
        .tagHere:hover {
            color: #8c68ce;
        }

    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    {{>layout/header}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">기안 작성</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <!-- 작업할 때 이 항목 내용을 수정하세요 -->
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <div class="form-group row" >
                            <form method="get">
                                <div class="d-flex" >
                                    <div class="form-group d-flex ">
                                        <label for="type" class="align-self-center my-0 w-100">검색타입</label>
                                        <select class="custom-select form-control-border" name="type" id="type">
                                            <option value="T">문서양식명</option>
                                            <option value="C">문서양식내용</option>
                                            <option value="TC">양식명+양식내용</option>
                                        </select>
                                    </div>
                                    <div class="form-group mx-2 d-flex flex-row">
                                        <label for="search" class="align-self-center my-0">검색어</label>
                                        <div class="d-flex flex-row">
                                            <input class="form-control col-md-6 mx-2" type="text" id="keyword" name="keyword">
                                            <button class="btn btn-primary h-100">검색</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>문서양식 명</th>
                                <th>등록일</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{#listDto}}
                                    <tr>
                                        <td ><a class="tagHere" href="write/{{formNo}}">{{formName}}</a></td>
                                        <td>{{regdate}}</td>
                                    </tr>
                                {{/listDto}}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-m m-0" style="justify-content: center">
                            {{#pageDto}}
                                {{#hasPrevBlock}}
                                    <li class="page-item">
                                        <a class="page-link" href="{{contextPath}}/approval/formList{{prevBlockQueryString}}">
                                            &laquo;
                                        </a>
                                    </li>
                                {{/hasPrevBlock}}
                                {{#prev}}
                                    <li class="page-item">
                                        <a class="page-link" href="{{contextPath}}/approval/formList{{prevQueryString}}">
                                            &lt;
                                        </a>
                                    </li>
                                {{/prev}}
                                {{#pageInfoList}}
                                    {{#isCurrent}}
                                        <li class="page-item active">
                                            <a class="page-link" href="/approval/formList{{queryString}}">{{pageNum}}</a>
                                        </li>
                                    {{/isCurrent}}
                                    {{^isCurrent}}
                                        <li class="page-item">
                                            <a class="page-link" href="/approval/formList{{queryString}}">{{pageNum}}</a>
                                        </li>
                                    {{/isCurrent}}
                                {{/pageInfoList}}
                                {{#next}}
                                    <li class="page-item">
                                        <a class="page-link" href="{{contextPath}}/approval/formList{{nextQueryString}}">&gt;
                                        </a>
                                    </li>
                                {{/next}}
                                {{#hasNextBlock}}
                                    <li class="page-item">
                                        <a class="page-link" href="{{&contextPath}}/approval/formList{{nextBlockQueryString}}">&raquo;
                                        </a>
                                    </li>
                                {{/hasNextBlock}}
                            {{/pageDto}}
                            <!--                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {{>layout/footer}}


</div>
<!-- ./wrapper -->

{{>layout/library}}

</body>
<script>
    $(function () {
        var line = `{{{masterList}}}`.length;
        console.log(line);
        if (line == 2) {
            alert("결재선이 없습니다. 등록해주세요")
            location.href = '/';
        }
    })
</script>
</html>
