<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    {{>layout/head}}
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    {{>layout/header}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">기안 정보</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <!-- 작업할 때 이 항목 내용을 수정하세요 -->

        <section class="content">
            <div class="container-fluid">
                <form method="put">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">기안제목</div>
                                <div class="col-12" id="approvalName">{{approvalGet.approvalName}}</div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">기안일자</div>
                                <div class="col-12" id="approvalName">{{approvalGet.regdate}}</div>
                            </div>
                            <!--                        <br>-->
                            <!--                        <div class="row">-->
                            <!--                            <div class="col">공개라인</div>-->
                            <!--                            <select class="d-flex custom-select" name="positionNo">-->
                            <!--                                <option selected>공개라인을 선택해주세요</option>-->
                                <!--                                {{#position}}-->
                            <!--                                    <option value="{{positionNo}}">{{positionName}} 이상</option>-->
                                <!--                                {{/position}}-->
                            <!--                            </select>-->
                            <!--                        </div>-->
                            <br>
                            <div class="row">
                                <div class="col">결재자</div>
                                <br>
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>부서</th>
                                        <th style="width : 12%">직책</th>
                                        <th style="width : 10%">이름</th>
                                        <th style="width : 10%">결재여부</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {{#approUserList}}
                                            <tr>
                                                <td id="masterName">{{userDept}}</td>
                                                <td id="masterName">{{userPosition}}</td>
                                                <td id="userName">{{userName}}</td>
                                                <th style="width : 10%"></th>
                                            </tr>
                                        {{/approUserList}}
                                    </tbody>
                                </table>
                                <div class="col-12 testBox"></div>
<!--                                <input type="hidden" class="form-control applyBox" id="applyVal" name="lineNo" readonly>-->
                            </div>
                            <!--                        <br>-->
                            <!--                        <div class="row">-->
                            <!--                            <div class="col">소속팀</div>-->
                            <!--                            <select class="d-flex custom-select" name="deptNo">-->
                            <!--                                <option selected>부서를 선택해주세요</option>-->
                                <!--                                {{#deptList}}-->
                            <!--                                    <option value="{{deptNo}}">{{deptName}}</option>-->
                                <!--                                {{/deptList}}-->
                            <!--                            </select>-->
                            <!--                        </div>-->
                            <br>
                            <div class="row">
                                <div class="col">문서함</div>
                                <div class="col-12" id="approvalName">{{approvalGet.docboxName}}</div>
                                <!--                            <select class="d-flex custom-select" name="docboxNo">-->
                                <!--                                <option selected>문서함을 선택해주세요</option>-->
                                    <!--                                {{#docboxList}}-->
                                <!--                                    <option value="{{docboxNo}}">{{docboxName}}</option>-->
                                    <!--                                {{/docboxList}}-->
                                <!--                            </select>-->
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">기안 내용</div>
                            </div>
                            <!--                        기안 작성되는 부분 -->
                            <section class="content">
                                <div class="container-fluid">
                                    <div class="card card-default color-palette-box">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                {{approvalGet.approvalName}}
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="centered">{{{approvalGet.approContent}}}</div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-secondary" id="storage" type="submit">결재승인</button>
                        </div>
                    </div>
                </form>
                <br>
            </div>
            <br>
            <br>
        </section>
        <!-- /.content -->
    </div>


    <!-- /.content-wrapper -->
    {{>layout/footer}}


</div>
<!-- ./wrapper -->

{{>layout/library}}


</body>
<script>

</script>
</html>