<footer class="main-footer">
    <strong>Copyright © 2023 All rights reserved | This project is made by FireWorks</strong>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->