<!-- ck에디터 스타일 css -->
<link rel="stylesheet" href="{{contextPath}}/plugins/ckeditor5/sample/styles.css">
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="{{contextPath}}/plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="{{contextPath}}/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<!-- iCheck -->
<link rel="stylesheet" href="{{contextPath}}/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- JQVMap -->
<link rel="stylesheet" href="{{contextPath}}/plugins/jqvmap/jqvmap.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="{{contextPath}}/dist/css/adminlte.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="{{contextPath}}/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="{{contextPath}}/plugins/daterangepicker/daterangepicker.css">
<!-- summernote -->
<link rel="stylesheet" href="{{contextPath}}/plugins/summernote/summernote-bs4.min.css">

<link rel="stylesheet" href="/plugins/fullcalendar/main.css">

<link rel="stylesheet" href="{{contextPath}}/dist/css/ckeditor.css">

<style>
    .nav-sidebar>.nav-item .nav-icon.fas, .nav-sidebar>.nav-item .nav-icon.far{
        font-size: 2.0rem;
    }
    .nav-sidebar .nav-link p {
        font-size: 1.5rem;
        display: block;
    }

    .brand-link img {
        width: 120px;
    }

    [class*=sidebar-dark-] .sidebar a {
        color: #111111;
    }

    [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link {
        color:#6f42c1;
    }

    [class*=sidebar-dark-] {
        background-color: #ced4da;
    }

    .sidebar-mini.sidebar-collapse .main-sidebar:not(.sidebar-no-expand):hover .sidebar .nav-sidebar .nav-link p {
        display: block;
    }

    .sidebar-mini.sidebar-collapse .main-sidebar:not(.sidebar-no-expand):hover .brand-link img {
        width: 120px;
    }

    @media (min-width: 992px) {
        .sidebar-mini.sidebar-collapse .sidebar .nav-sidebar .nav-link p {
            width: auto;
        }
    }

    .sidebar-collapse .brand-link img {
        width: 60px;
    }
</style>
