<!-- jQuery -->
<script src="{{contextPath}}/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{contextPath}}/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{{contextPath}}/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<!--<script src="{{contextPath}}/plugins/chart.js/Chart.min.js"></script>-->
<!-- Sparkline -->
<!--<script src="{{contextPath}}/plugins/sparklines/sparkline.js"></script>-->
<!-- JQVMap -->
<!--<script src="{{contextPath}}/plugins/jqvmap/jquery.vmap.min.js"></script>-->
<!--<script src="{{contextPath}}/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>-->
<!-- jQuery Knob Chart -->
<script src="{{contextPath}}/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="{{contextPath}}/plugins/moment/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ko.js"></script>
<script src="{{contextPath}}/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{{contextPath}}/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="{{contextPath}}/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="{{contextPath}}/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="{{contextPath}}/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{contextPath}}/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!--<script src="{{contextPath}}/dist/js/pages/dashboard.js"></script>-->

<script src="{{contextPath}}/plugins/ckeditor5/build/ckeditor.js"></script>

<script>
    // The Calender
    $('#calendar').datetimepicker({
        format: 'L',
        inline: true
    })
</script>

<!-- 알림 -->
<script src="/dist/js/alarm.js"></script>
<script src="/dist/js/message.js"></script>

<!-- 근태 -->
<script src="/dist/js/attend.js"></script>

<script>
    $(function() {
        var userNo = 1;
        // member.userNo로 바꿀 예정!!
        moment.locale('ko');
        alarmService.getCount(userNo, function (result) {
            $(".alarmcount").html(result);
        })

        alarmService.getList({userNo:userNo}, function (result) {
            var str = "";
            for (var i in result.content) {
                str += getAlarmLiStr(result.content[i]);
            }
            $(".alarms").html(str);
        });

        function getAlarmLiStr(obj) {
                return `<div class="alarm-divider dropdown-divider" data-alarmno="${obj.alarmNo}"></div>
				    <a href="#" class="alarm dropdown-item" data-alarmno="${obj.alarmNo}" style="background: lightgrey">
                    ${obj.alarmTitle}
				    <span class="float-right text-muted text-sm">${moment(obj.regdate).fromNow()}</span>
                    </a>
				    `;

        }

        // $(".alarm").on("click", "a", function () {
        //     event.preventDefault();
        //     var $this = $(this);
        //     console.log($this);
        //     var obj = {alarmNo: $this.data("alarmno"), alarmCheck: true}
        //     alarmService.modify(obj, function (result) {
        //         // console.log(result);
        //     });
        // });

        $(".alarms").on("click", ".alarm", function () {
            event.stopPropagation();
            var $this = $(this);
            var alarmNo = $this.data("alarmno");
            alarmService.remove(alarmNo, function (result) {
                // console.log(result);
            });
        });

        $(".btn-more").on("click", function () {
            event.stopPropagation();
            var pageNum = 2;
            alarmService.getList({userNo:userNo, pageNum:pageNum}, function(result){
                if(!result.content.length) {
                    $(".btn-more").prop("disabled", true);
                    return;
                }
                var str = "";
                for(var i in result.content) {
                    str += getAlarmLiStr(result.content[i]);
                }
                $(".alarms").append(str);
            });
            pageNum++;
        })

        messageService.getListByReceiver({userNo:userNo}, function (result) {
            var pageStr = "";
            var str = "";
            for (var i in result.receiverMessageList.content) {
                str += getReceiveLiStr(result.receiverMessageList.content[i]);
            }

            $(".pagination").html(getPage(result.pageResponseDTO));
            $(".messages").html(str);

        });

        function getPage(obj) {
            let str = "";
            if(obj.hasPrevBlock) {
                str += "<li class='page-item'><a class='page-link' href='#' data-pagenum='" + (obj.startPageNum-1) + "'>"+"<i class='fas fa-angle-double-left'></i></a></li>";
            }
            if(obj.prev) {
                str += "<li class='page-item'><a class='page-link' href='#' data-pagenum='" + (obj.page-1) + "'>"+"<i class='fas fa-angle-left'></i></a></li>";
            }
            for(let i = obj.startPageNum ; i <= obj.endPageNum ; i++) {
                if(obj.page == i)
                    str += "<li class='page-item active'><a href='#' class='page-link' data-pagenum='" + i + "'>"+ i +"</a></li>";
                else
                    str += "<li class='page-item'><a href='#' class='page-link' data-pagenum='" + i + "'>"+ i +"</a></li>";
            }
            if(obj.next) {
                str += "<li class='page-item'><a class='page-link' href='#' data-pagenum='" + (obj.page+1) + "'>"+"<i class='fas fa-angle-right'></i></a></li>";
            }
            if(obj.hasNextBlock) {
                str += "<li class='page-item'><a class='page-link' href='#' data-pagenum='" + (obj.endPageNum+1) + "'>"+"<i class='fas fa-angle-double-right'></i></a></li>";
            }
            return str;
        }

        function getReceiveLiStr(obj) {
            return `<div class="col-1 text-center"><input type="checkbox" data-messageno="${obj.messageNo}"></div>
                    <div class="col-2 text-center">
				        ${obj.senderName}
                    </div>
                    <div class="col-5 text-center">
				        ${obj.messageTitle}
                    </div>
				    <div class="col-4 text-center">
				        ${moment(obj.regdate).locale("ko").format('YYYY/MM/D HH:mm')}
                    </div>
                    </a>
				    `;

        }

        $(".pagination").on("click", ".page-link",function () {
            event.stopPropagation();
            var pageNum = $(this).data("pagenum");
            messageService.getListByReceiver({userNo:userNo, pageNum:pageNum}, function(result){
                var str = "";
                for(var i in result.receiverMessageList.content) {
                    str += getReceiveLiStr(result.receiverMessageList.content[i]);
                }
                $(".pagination").html(getPage(result.pageResponseDTO));
                $(".messages").html(str);
            });
        })

    });
</script>

<script>
    $(function () {
        let user = $("#user").val();
        let userNo = $("#userNo").val();
        let checkGoWork = false;

        $("#goToWork").click(function (e) {
            if(confirm("출근 등록을 하시겠습니까?")) {
                let godate = new Date().getTime();
                attendService.goToWork({user:user, godate:godate})
                checkGoWork = true;
            }
        })

        $("#leaveWork").click(function () {
            if(confirm("퇴근 등록을 하시겠습니까?")) {
                if(checkGoWork === false) {
                    alert("출근 등록을 먼저 해주세요.");
                    return;
                }
                var attendNo = attendService.getAttendNo(userNo, function (result) {
                    // 퇴근 등록 시 퇴근 시간을 기록
                    let leavedate = new Date().getTime();
                    attendService.leaveWork({attendNo:result, leavedate:leavedate})
                });

            }
        })


    })
</script>