<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    {{>layout/head}}
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">
    {{>layout/header}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Compose</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Compose</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h1 class="card-title">공지 사항 게시판</h1>
                            </div>
                            <!-- /.card-header -->
                            <form method="post">
                            {{#board}}
                                <div class="card-body">
                                    <input type="hidden" name="boardNo" value="{{boardNo}}">
                                    <div class="form-group">
                                        <input class="form-control" value="{{title}}" name="boardTitle">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" value="{{user.name}}" readonly>
                                        <input type="hidden" value="{{user.userNo}}" name="userNo">
                                    </div>
                                    <div class="form-group">
                                    <textarea class="form-control" style="height: 300px; resize: none" name="boardContent">{{content}}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">첨부파일</div>
                                            <input type="file" class="form-control" id="boardAttach" name="file">
                                        </div>
                                    </div>
                                </div>
                            {{/board}}
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <div class="float-right">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-pencil-alt"></i>저장하기</button>
                                    <a href="/board/list" type="button" class="btn btn-primary"><i class="far fa-envelope"></i>홈으로</a>
                                </div>
                            </div>
                            </form>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {{>layout/footer}}

</div>
<!-- ./wrapper -->
{{>layout/library}}
</body>
</html>
