<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    {{>layout/head}}
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    {{>layout/header}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Compose</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Compose</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h1 class="card-title">글 작성</h1>
                            </div>
                            <!-- /.card-header -->
                            <form method="post" enctype="multipart/form-data">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="제목을 입력하세요" name="boardTitle">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" value="{{user.name}}" readonly>
                                    </div>
                                    <div class="form-group">
                                    <textarea class="form-control" style="height: 300px; resize: none" placeholder="내용을 입력하세요" name="boardContent"></textarea>
                                    </div>
                                    <input type="hidden" value="{{user.userNo}}" name="userNo">
                                    <div class="form-group">
<!--                                        <div class="btn btn-default btn-file">-->
<!--                                            <i class="fas fa-paperclip"></i> Attachment-->
<!--                                            <input type="file" name="file">-->
<!--                                        </div>-->
                                        <div class="card-body">
                                            <input type="file" class="form-control" name="file">
                                        </div>
                                        <p class="help-block">Max. 32MB</p>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <div class="float-right">
                                        <a href="/board/list" type="button" class="btn btn-primary"><i class="far fa-envelope"></i> 이전으로</a>
                                        <button type="submit" class="btn btn-default"><i class="fas fa-pencil-alt"></i>저장</button>
                                    </div>
                                </div>
                            </form>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {{>layout/footer}}

</div>
<!-- ./wrapper -->

{{>layout/library}}
</body>
</html>
