<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    {{>layout/head}}
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    {{>layout/header}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">나의 결재선</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">나의 결재선</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <!-- 작업할 때 이 항목 내용을 수정하세요 -->

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <form id="deleteFrm" method="POST">
                                    <button type="button" class="btn btn-outline-secondary btn-sm float-right ml-3" id="deleteLine">삭제</button>
                                </form>
                                <button type="button" class="btn btn-outline-secondary btn-sm float-right" id="addBtn">추가</button>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>결재선 명</th>
                                        <th>기안자</th>
                                        <th>결재자 1</th>
                                        <th>결재자 2</th>
                                        <th>결재자 3</th>
                                        <th><div class="text-center">선택</div></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#masterList}}
                                    <tr class="myLine data-lineNo={{lineNo}}">
                                        <td>{{lineName}}</td>
                                        <td><div>{{userName}}</div></td>
                                        {{#subLineResponseDTOS}}
                                            <td id="lineTd"> {{#deptName}}[{{deptName}}]{{/deptName}} {{#positionName}}[{{positionName}}]{{/positionName}} {{#name}}{{name}}{{/name}} </td>
                                        {{/subLineResponseDTOS}}
                                        <td><!-- checkbox -->
                                            <div class="icheck-primary ml-2 row justify-content-center">
                                                <input class="mx-auto ckBox" type="radio" name="pickRadio" id="todoCheck{{lineNo}}" value="{{lineNo}}">
                                                <label for="todoCheck{{lineNo}}"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/masterList}}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- /.content -->

        <section id="addSection" class="content">
            <div class="container-fluid">
                <form method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>결재선 명</th>
                                            <th>기안자</th>
                                            <th>결재자 1</th>
                                            <th>결재자 2</th>
                                            <th>결재자 3</th>
                                            <th style="width: 5%"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><input type="text" class="form-control" placeholder="예) 내부 기안" name="lineName"></td>
                                            <input type="hidden" name="userNo">
                                            <td>
                                                {{#userNo}}
                                                    <div name="{{name}}">{{name}}</div>
                                                {{/userNo}}
                                            </td>
                                            <td>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <select class="custom-select" name="userNos[0]">
                                                            {{#memberList}}
                                                                <option value="{{userNo}}">[{{deptName}}] [{{positionName}}] {{name}}</option>
                                                            {{/memberList}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <select class="custom-select" id="masterLine" name="userNos[1]">
                                                            {{#memberList}}
                                                                <option value="{{userNo}}">[{{deptName}}] [{{positionName}}] {{name}}</option>
                                                            {{/memberList}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <select class="custom-select" name="userNos[2]">
                                                            {{#memberList}}
                                                                <option value="{{userNo}}">[{{deptName}}] [{{positionName}}] {{name}}</option>
                                                            {{/memberList}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row justify-content-center">
                                                    <button type="submit" class="btn btn-outline-secondary btn-sm w-75 row" id="addBtn">저장</button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>

    </div>
    <!-- /.content-wrapper -->
    {{>layout/footer}}

</div>
<!-- ./wrapper -->
{{>layout/library}}
    <script>
        $(function (){
            // name 값이 없으면 - 로 표기
            console.log("tdName :: ", $("#tdName").val());
            if($("#tdName").val() === ""){
                $("#lineTd").text("-");
            }

            function moveToAddSection(){
                let offset = $("#addSection").offset();
                $('html, body').animate({scrollTop : offset.top}, 400);
            }

            $("#addSection").css("display", "none");

            $("#deleteLine").click(function(){
                if($('input:radio[name="pickRadio"]:checked').length === 0){
                    alert("삭제할 결재선을 선택해주세요.");
                    return;
                }
            })

            $("#addBtn").click(function (){
                console.log("addBtn");
                $("#addSection").css("display", "block");
                $(this).addClass("active").siblings().removeClass("active");
                moveToAddSection($(this).data("id"));
            })

            $(".ckBox").click(function (){
                let lineNo = this.value;
                console.log(lineNo)

                $("#deleteLine").click(function(e){
                    e.preventDefault();
                    $("#deleteFrm").attr("action", "/line/"+lineNo);
                    $("#deleteFrm").submit();
                    alert("삭제되었습니다.");
                })

            })

        })
    </script>
</body>
</html>
