<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    {{>layout/head}}
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    {{>layout/header}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">나의 결재선</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">나의 결재선</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <!-- 작업할 때 이 항목 내용을 수정하세요 -->

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <button type="button" class="btn btn-outline-secondary btn-sm float-right ml-3">수정</button>
                                <button type="button" class="btn btn-outline-secondary btn-sm float-right ml-3">삭제</button>
                                <button type="button" class="btn btn-outline-secondary btn-sm float-right">추가</button>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>결재선 명</th>
                                        <th>기안자</th>
                                        <th>결재자 1</th>
                                        <th>결재자 2</th>
                                        <th>결재자 3</th>
                                        <th>선택</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#masterList}}
                                    <tr>
                                        <td>{{lineName}}</td>
                                        <td>{{masterName}}</td>
                                        {{#subLineList}}
                                            <td> [{{positionName}}] [{{deptName}}] {{name}} </td>
                                        {{/subLineList}}
                                        <td><!-- checkbox -->
                                            <div class="icheck-primary d-inline ml-2 mx-auto">
                                                <input class="mx-auto" type="radio" id="todoCheck{{lineNo}}" name="todo" value="{{lineNo}}">
                                                <label for="todoCheck{{lineNo}}"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/masterList}}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- /.content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <button type="button" class="btn btn-outline-secondary btn-sm float-right ml-3">수정</button>
                                <button type="button" class="btn btn-outline-secondary btn-sm float-right ml-3">삭제</button>
                                <button type="button" class="btn btn-outline-secondary btn-sm float-right">추가</button>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>결재선 명</th>
                                        <th>기안자</th>
                                        <th>결재자 1</th>
                                        <th>결재자 2</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="text"></td>
                                        <td>
                                            {{masterName}}
                                        </td>
                                            <td>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <select class="custom-select">
                                                            {{#deptList}}

                                                            {{/deptList}}


                                                            <option></option>
                                                            <option>option 2</option>
                                                            <option>option 3</option>
                                                            <option>option 4</option>
                                                            <option>option 5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <select class="custom-select">
                                                            <option>option 1</option>
                                                            <option>option 2</option>
                                                            <option>option 3</option>
                                                            <option>option 4</option>
                                                            <option>option 5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>

    <!-- /.content-wrapper -->
    {{>layout/footer}}


</div>
<!-- ./wrapper -->
{{>layout/library}}

</body>
</html>
