<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    {{>layout/head}}
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <div class="wrapper">

        {{>layout/adminHeader}}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>회원 승인</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{{contextPath}}/admin">Home</a></li>
                                <li class="breadcrumb-item active">회원 승인</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <form id="updateFrm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">가입요청된 회원</h3>
                                    <button class="float-right btn btn-secondary btnUpdate">변경</button>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th><input type="checkbox" id="selectAll" style="zoom: 2.0">  전체 선택</th>
                                            <th>id</th>
                                            <th>사원명</th>
                                            <th>연락처</th>
                                            <th>Email</th>
                                            <th>부서</th>
                                            <th>직급</th>
                                            <th>승인</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#stateByZeroUser}}
                                        <tr class="tableSum">
                                            <input name="userNo" id="userNo" type="hidden" value="{{userNo}}">
                                            <td>
                                                <input type="checkbox" name="ckBox" class="checkbox" id="ckBox" style="zoom: 2.0">
                                            </td>
                                            <td class="userId">{{username}}</td>
                                            <td>{{name}}</td>
                                            <td>{{phoneNum}}</td>
                                            <td>{{email}}</td>
                                            <td>{{deptName}}</td>
                                            <td>{{positionEntity.positionName}}</td>
                                            <td>
                                            <select class="custom-select" name="state">
                                                <option value="0">가입대기</option>
                                                <option value="1">가입승인</option>
                                                <option value="2">퇴사처리</option>
                                            </select>
                                            </td>
                                        {{/stateByZeroUser}}
                                    </table>
                                </div>
                                <div class="card-footer clearfix">
                                    <ul class="pagination pagination-sm m-0 float-right">
                                        {{#pageDto}}
                                            {{#hasPrevBlock}}
                                                <li class="page-item">
                                                    <a class="page-link" href="{{contextPath}}/admin/form?page={{pageDto.prevBlockNum}}">
                                                    &laquo;
                                                    </a>
                                                </li>
                                            {{/hasPrevBlock}}
                                            {{#prev}}
                                                <li class="page-item">
                                                    <a class="page-link" href="{{contextPath}}/admin/form?page={{pageDto.prevPageNum}}">
                                                    &lt;
                                                    </a>
                                                </li>
                                            {{/prev}}
                                            {{#pageInfoList}}
                                                {{#isCurrent}}
                                                    <li class="page-item active">
                                                        <a class="page-link" href="{{contextPath}}/admin/form?page={{pageNum}}">{{pageNum}}</a>
                                                    </li>
                                                {{/isCurrent}}
                                                {{^isCurrent}}
                                                    <li class="page-item">
                                                        <a class="page-link" href="{{contextPath}}/admin/form?page={{pageNum}}">{{pageNum}}</a>
                                                    </li>
                                                {{/isCurrent}}
                                            {{/pageInfoList}}
                                            {{#next}}
                                                <li class="page-item">
                                                    <a class="page-link" href="{{contextPath}}/admin/form?page={{pageDto.nextPageNum}}">&gt;</a>
                                                </li>
                                            {{/next}}
                                            {{#hasNextBlock}}
                                                <li class="page-item">
                                                    <a class="page-link" href="{{&contextPath}}/admin/form?page={{pageDto.nextBlockNum}}">&raquo;
                                                    </a>
                                                </li>
                                            {{/hasNextBlock}}
                                        {{/pageDto}}
                                        <!--                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>-->
                                    </ul>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->

                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
                </form>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {{>layout/adminFooter}}


    </div>
    <!-- ./wrapper -->

    {{>layout/library}}
<script>
    $(function () {
        $("#selectAll").click(function () {
            if($("#selectAll").is(":checked"))  {
                $("input[name=ckBox]").prop("checked", true);
                console.log($("input[name='ckBox']:checked").length)
                // console.log($("#chkBox").length);
            }else {
                $("input[name=ckBox]").prop("checked", false);
            }
        });

        $("input[name=ckBox]").click(function() {
            if($("input[name='ckBox']:checked").length === $(".tableSum").length) {
                $("#selectAll").prop("checked", true)
            }else {
                $("#selectAll").prop("checked", false)
            }
        });

        let i = 0;
        $(".btnUpdate").click(function(event) {
            event.preventDefault();
            let result = confirm("승인 하시겠습니까?")
            const chkCnt = $("input[name='ckBox']:checked").length;
            let dto = [];
            <!--let userId = {{!userNo}};-->
            // console.log(userId)
            if(result) {
                $("input[name='ckBox']:checked").each(function () {
                    let userNo = $(this).closest("tr").find("input[name='userNo']").val();
                    let state = $(this).closest("tr").find("select[name='state']").val();
                    dto.push({userNo : userNo, state : state});
                    console.log("userNo : ", userNo)
                    console.log("state : ", state)
                })
                if(dto.length > 0) {
                    console.log("선택된 회원 :", dto)
                    // $("#updateFrm").attr("action", "/admin/member/memberUpdate/"+selectedUsers);
                    // $("#updateFrm").submit();
                    for(let i=0; i<dto.length; i++) {
                        let userNo = dto[i].userNo;
                        let state = dto[i].state;
                        $.ajax({
                            // url : "/admin/member/memberUpdate/"+selectedUsers,
                            url: "/admin/member/memberUpdate/" + userNo + "/" + state,
                            type: "POST",
                            contentType: "application/json",
                            // data: JSON.stringify(selectedUsers),
                            data: JSON.stringify({ "dto": dto }),
                            dataType: "json",
                            success: function () {
                                alert("굿!")
                            },
                            error: function () {
                                console.log("뭔데 그래서", userNo)
                                alert("하...")
                            }

                        })
                    }
                    alert("수정되었습니다.")
                }
                else {
                    alert("회원을 선택해주세요")
                }
            }else {
                alert("승인이 취소되었습니다.")
            }

            //     const arr = new Array(chkCnt);
            //     console.log(arr)
            //     for(let i=0; i<chkCnt; i++) {
            //         // alert(i);
            //         if($("input[name='ckBox']:checked")) {
            //             console.log($("input[name='userNo']").val());
            //             alert(i)
            //             // console.log($("#userNo").val());
            //         }
            //     }
            // }else {
            //     alert("선택x")
            //     return false;
            // }
        });
    });
</script>
</body>
</html>
