<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FireWorks!</title>

    {{>layout/head}}
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    {{>layout/header}}
    <!--        currentUser :-->
    <!--        {{!#currentUser}}-->
    <!--            {{!currentUser}}-->
    <!--        {{!/currentUser}}-->
    <!--        {{!^currentUser}}-->
    <!--            로그인해주세요-->
    <!--        {{!/currentUser}}-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {{#user}}
                            <h5 class="m-0">{{deptName}} / {{positionName}} <b>{{name}}</b>님 환영합니다!</h5>
                        {{/user}}
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <section class="col-lg-5 connectedSortable float-left">
                        <!-- Calendar -->
                        <div class="card bg-gradient-secondary">
                            <div class="card-header border-0">
                                <h3 class="card-title">
                                    <i class="far fa-calendar-alt"></i>

                                    개인 일정
                                </h3>
                                <!-- tools card -->
                                <div class="card-tools">
                                    <!-- button with a dropdown -->
                                </div>
                                <!-- /. tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body pt-0">
                                <!--The calendar -->
                                <div id="calendar" style="width: 100%"></div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </section>
                    <!-- Main row -->
                    <!-- Left col -->
                    <section class="col-lg-7 connectedSortable float-right">
                        <!-- TO DO List -->
                        <div class="card">
                            <div class="card-footer">
                                <span>공지사항 (최근5글)</span>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <ul class="todo-list" data-widget="todo-list">
                                    {{#boardList}}
                                        <li><a style="text-decoration: none; color: black" href="{{contextPath}}/board/view/{{boardNo}}">{{title}}</a></li>
                                    {{/boardList}}
                                </ul>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </section>
                </div>
                <section class="col-lg-5 connectedSortable float-left">
                    <div class="card-footer clearfix">
                        <button type="submit" class="btn btn-default">전자서명</button>
                        <button type="button" class="btn btn-outline-secondary float-right" data-toggle="modal" data-target="#myModal">전자서명 등록</button>
                    </div>
                </section>


                <section class="col-lg-7 connectedSortable float-right">
                    <div class="card-footer clearfix">
                        <button type="submit" class="btn btn-default">나의 결재선</button>
                        <a href="{{contextPath}}/line/addLine" type="button" class="btn btn-outline-dark float-right ">결재선 추가</a>
                    </div>
                </section>
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->

                <!-- right col -->
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <!-- Main row -->
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{>layout/footer}}


</div>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-xl">
        <form id="addSign" method="post" action="{{contextPath}}/" enctype="multipart/form-data">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">전자서명 등록</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="card-body">
                        <input type="file" class="form-control" id="memberSign" name="file">
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm" id="apply" >적용</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">닫기</button>
                </div>

            </div>
        </form>
    </div>
</div>
<!-- ./wrapper -->

{{>layout/library}}
<script src="../dist/js/approval.js"></script>
<script>
    $(function (){
        $("#apply").click(function () {
            event.preventDefault();
            if (confirm("전자서명을 등록하시겠습니까?")) {
                $("#addSign").submit();
            }
        })


        approvalService.getList({pageNum: 1}, function (result){
            var str = "";
            for(let i in result.approvalResponseDtos.content) {
                str += getApprovalLiStrInIndex(result.approvalResponseDtos.content[i])
            }
            $(".pagination-sm").html(getPage(result.pageResponseDTO));
            $(".approvalList-index").html(str);
        })

        function getApprovalLiStrInIndex(obj) {
            return `<li>
                        <span class="text"><a href="{{contextPath}}/approval/${obj.approvalNo}" style="color:black">${obj.approvalName}</a></span>
                        <div class="tools">
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-trash-o"></i>
                        </div>
                        </a>
                    </li>
            <!-- /.card-body -->
           `
        }

        function getPage(obj) {
            let str = "";
            if (obj.hasPrevBlock) {
                str += "<li class='page-item'><a class='page-link' href='#' data-pagenum='" + (obj.startPageNum - 1) + "'>" + "<i class='fas fa-angle-double-left'></i></a></li>";
            }
            if (obj.prev) {
                str += "<li class='page-item'><a class='page-link' href='#' data-pagenum='" + (obj.page - 1) + "'>" + "<i class='fas fa-angle-left'></i></a></li>";
            }
            for (let i = obj.startPageNum; i <= obj.endPageNum; i++) {
                if (obj.page == i)
                    str += "<li class='page-item active'><a href='#' class='page-link' data-pagenum='" + i + "'>" + i + "</a></li>";
                else
                    str += "<li class='page-item'><a href='#' class='page-link' data-pagenum='" + i + "'>" + i + "</a></li>";
            }
            if (obj.next) {
                str += "<li class='page-item'><a class='page-link' href='#' data-pagenum='" + (obj.page + 1) + "'>" + "<i class='fas fa-angle-right'></i></a></li>";
            }
            if (obj.hasNextBlock) {
                str += "<li class='page-item'><a class='page-link' href='#' data-pagenum='" + (obj.endPageNum + 1) + "'>" + "<i class='fas fa-angle-double-right'></i></a></li>";
            }
            return str;
        }

        $(".approvalpagination").on("click", ".page-link", function () {
            var pageNum = $(this).data("pagenum");
            approvalService.getList({pageNum:pageNum}, function (result){
                var str = "";
                for(let i in result.approvalResponseDtos.content) {
                    str += getApprovalLiStrInIndex(result.approvalResponseDtos.content[i])
                }
                $(".pagination-sm").html(getPage(result.pageResponseDTO));
                $(".approvalList-index").html(str);
            })
        })
    })
</script>
</body>
</html>
