<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    {{>layout/head}}
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    {{>layout/header}}
    <!--        currentUser :-->
    <!--        {{!#currentUser}}-->
    <!--            {{!currentUser}}-->
    <!--        {{!/currentUser}}-->
    <!--        {{!^currentUser}}-->
    <!--            로그인해주세요-->
    <!--        {{!/currentUser}}-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {{#user}}
                            <h5 class="m-0">{{deptName}} / {{positionName}} <b>{{name}}</b>님 환영합니다!</h5>
                        {{/user}}
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">
                <!-- TO DO List -->
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="ion ion-clipboard mr-1"></i>
                            내 결재진행함
                        </h3>

                        <div class="card-tools">
                            <ul class="pagination pagination-sm approvalpagination">

                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="todo-list approvalList-index" data-widget="todo-list">

                        </ul>
                    </div>
                    <!-- /.card-header -->
                </div>
                <!-- /.card -->
            </section>
            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">
                <!-- Calendar -->
                <div class="card bg-gradient-success">
                    <div class="card-header border-0">

                        <h3 class="card-title">
                            <i class="far fa-calendar-alt"></i>
                            Calendar
                        </h3>
                        <!-- tools card -->
                        <div class="card-tools">
                            <!-- button with a dropdown -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn-sm dropdown-toggle"
                                        data-toggle="dropdown" data-offset="-52">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <div class="dropdown-menu" role="menu">
                                    <a href="#" class="dropdown-item">Add new event</a>
                                    <a href="#" class="dropdown-item">Clear events</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item">View calendar</a>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <!-- /. tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body pt-0">
                        <!--The calendar -->
                        <div id="calendar" style="width: 100%"></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </section>
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{>layout/footer}}


</div>
<!-- ./wrapper -->

{{>layout/library}}
<script src="../dist/js/approval.js"></script>
<script>
    $(function (){
        approvalService.getList({pageNum: 1}, function (result){
            var str = "";
            for(let i in result.approvalResponseDtos.content) {
                str += getApprovalLiStrInIndex(result.approvalResponseDtos.content[i])
            }
            $(".pagination-sm").html(getPage(result.pageResponseDTO));
            $(".approvalList-index").html(str);
        })

        function getApprovalLiStrInIndex(obj) {
            return `<li>
                        <span class="text"><a href="{{contextPath}}/approval/${obj.approvalNo}" style="color:black">${obj.approvalName}</a></span>
                        <div class="tools">
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-trash-o"></i>
                        </div>
                        </a>
                    </li>
            <!-- /.card-body -->
           `
        }

        function getPage(obj) {
            let str = "";
            if (obj.hasPrevBlock) {
                str += "<li class='page-item'><a class='page-link' href='#' data-pagenum='" + (obj.startPageNum - 1) + "'>" + "<i class='fas fa-angle-double-left'></i></a></li>";
            }
            if (obj.prev) {
                str += "<li class='page-item'><a class='page-link' href='#' data-pagenum='" + (obj.page - 1) + "'>" + "<i class='fas fa-angle-left'></i></a></li>";
            }
            for (let i = obj.startPageNum; i <= obj.endPageNum; i++) {
                if (obj.page == i)
                    str += "<li class='page-item active'><a href='#' class='page-link' data-pagenum='" + i + "'>" + i + "</a></li>";
                else
                    str += "<li class='page-item'><a href='#' class='page-link' data-pagenum='" + i + "'>" + i + "</a></li>";
            }
            if (obj.next) {
                str += "<li class='page-item'><a class='page-link' href='#' data-pagenum='" + (obj.page + 1) + "'>" + "<i class='fas fa-angle-right'></i></a></li>";
            }
            if (obj.hasNextBlock) {
                str += "<li class='page-item'><a class='page-link' href='#' data-pagenum='" + (obj.endPageNum + 1) + "'>" + "<i class='fas fa-angle-double-right'></i></a></li>";
            }
            return str;
        }

        $(".approvalpagination").on("click", ".page-link", function () {
            var pageNum = $(this).data("pagenum");
            approvalService.getList({pageNum:pageNum}, function (result){
                var str = "";
                for(let i in result.approvalResponseDtos.content) {
                    str += getApprovalLiStrInIndex(result.approvalResponseDtos.content[i])
                }
                $(".pagination-sm").html(getPage(result.pageResponseDTO));
                $(".approvalList-index").html(str);
            })
        })

        attendService.getWeeklyAttend(function (result){
            console.log(result);
        })
    })
</script>
</body>
</html>
