<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>2023/06/056:04 PM</title>
</head>
<body>
    결재양식 상세
    <hr>
    <div>결재양식 이름</div>
    <div id="formName"></div>

    <div>결재양식 내용</div>
    <div id="formText"></div>

    <div>사용여부</div>
    <div id="isUsed"></div>

    <script src=""></script>
</body>
</html>