<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    {{>layout/head}}
    <style>
        .document-editor__toolbar {
            width: 100%;
        }

    </style>

</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    {{>layout/header}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">문서양식 관리</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item">문서양식 관리</li>
                            <li class="breadcrumb-item active">문서양식 관리</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <!-- 작업할 때 이 항목 내용을 수정하세요 -->
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        글 작성
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form action="{{contextPath}}/admin/form/" method="post" id="approvalForm">


                            <div class="form-group">
                                <label for="formName">양식명</label>
                                <input type="text" class="form-control" id="formName" name="formName" value="{{{formDto.formName}}}">
                            </div>
                            <div class="form-group">
                                <label for="editor">양식내용</label>

                                <div class="centered">
                                    <div class="row">
                                        <div class="document-editor__toolbar"></div>
                                    </div>
                                    <div class="row row-editor">
                                        <div class="editor-container">
                                            <div class="editor">
                                                <div class="ck-toolbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="formText" id="formText">
                            </div>
                            <div class="form-group">
                                <label for="isUsed">사용여부</label>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    {{#formDto.isUsed}}
                                        <label class="btn bg-olive">
                                            <input type="radio" name="isUsed" id="option_b1" value="true" checked> 사용
                                        </label>
                                        <label class="btn bg-warning">
                                            <input type="radio" name="isUsed" id="option_b2" value="false"> 미사용
                                        </label>
                                    {{/formDto.isUsed}}
                                    {{^formDto.isUsed}}
                                        <label class="btn bg-olive">
                                            <input type="radio" name="isUsed" id="option_b1" value="true"> 사용
                                        </label>
                                        <label class="btn bg-warning">
                                            <input type="radio" name="isUsed" id="option_b2" value="false" checked> 미사용
                                        </label>
                                    {{/formDto.isUsed}}
                                </div>
                            </div>
                            <button class="btn btn-primary" id="btnSubmit" type="button">글 수정</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {{>layout/footer}}


</div>
<!-- ./wrapper -->

{{>layout/library}}

<script>

    $( ()=>{
        var data;
        var formData = `{{{formDto.formText}}}`;

        DecoupledDocumentEditor
                .create( document.querySelector( '.editor' ), {
                    language: "ko",
                    simpleUpload: {
                        uploadUrl: "/upload/ajax"
                    },
                    sourceEditing: true
                })
                .then( editor => {
                    window.editor = editor;

                    console.log('editor ui~~', editor.ui.view.toolbar.element);

                    // Set a custom container for the toolbar.
                    document.querySelector( '.document-editor__toolbar' ).appendChild( editor.ui.view.toolbar.element );
                    document.querySelector( '.ck-toolbar' ).classList.add( 'ck-reset_all' );

                    // const toolbarContainer = document.querySelector( '.document-editor__toolbar'  );

                    // toolbarContainer.appendChild( editor.ui.view.toolbar.element );
                    console.log(formData);
                    editor.setData(formData);

                    $("#btnSubmit").on("click", function () {
                        buttonInit(editor);
                    })

                } )
                .catch( error => {
                    console.error( 'Oops, something went wrong!' );
                    console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
                    console.warn( 'Build id: mhijpyjl1akp-mumjti75eytr' );
                    console.error( error );
                } );

        function buttonInit(editor) {
            event.preventDefault();
            console.log("폼 입력 테스트")

            console.log(editor);

            var editText = editor.getData();

            console.log('editText', editText);

            $("#formText").val(editText);

            // $("#approvalForm").submit();

            var updateUrl = "{{contextPath}}/admin/form/update/{{formDto.formNo}}";

            $.ajax({
                url: updateUrl,
                method: 'PUT',
                data: JSON.stringify({
                    formName:$("#formName").val(),
                    formText:editText,
                    isUsed:$("input[name='isUsed']:checked").val(),
                }),
                dataType: 'json',
                contentType : "application/json; charset=UTF-8",
                success: function (response) {
                    console.log(response);

                    window.location.href = "{{contextPath}}/admin/form/detail/{{formDto.formNo}}";
                },
                error: function (xhr, status, error) {
                    console.log("xhr", xhr);
                    console.log("status", status);
                    console.log("error", error);
                }
            })
        }

    })

</script>
</body>
</html>
