<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    {{>layout/head}}
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    {{>layout/header}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">문서양식 관리</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">문서양식 관리</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <!-- 작업할 때 이 항목 내용을 수정하세요 -->
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">

                        <div class="d-flex justify-content-between">
                            <div class="form-group row my-0">
                                <label for="search" class="align-self-center my-0">양식명 검색</label>
                                <input class="form-control col-md-6 mx-2" type="text" id="search">
                                <button class="btn btn-primary">검색</button>
                            </div>

                            <a href="{{contextPath}}/admin/form/add" class="btn btn-primary">글 등록</a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>문서양식 명</th>
                                <th>사용여부</th>
                                <th>등록일</th>
                                <th>조회수</th>
                                <th>관리</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{#formList}}
                                    <tr>
                                        <td>{{formNo}}</td>
                                        <td><a href="{{contextPath}}/admin/form/detail/{{formNo}}">{{formName}}</a></td>
                                        <td>
                                            {{#isUsed}}
                                                사용중
                                            {{/isUsed}}
                                            {{^isUsed}}
                                                미사용
                                            {{/isUsed}}
                                        </td>
                                        <td>{{regdate}}</td>
                                        <td>{{useCount}}</td>
                                        <td><button class="btn btn-warning mr-2">수정</button><button class="btn btn-danger">삭제</button></td>
                                    </tr>
                                {{/formList}}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->


                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                            {{#pageDto}}
                                {{#hasPrevBlock}}
                                    <li class="page-item">
                                        <a class="page-link" href="{{contextPath}}/admin/form?page={{pageDto.prevBlockNum}}">
                                            &laquo;
                                        </a>
                                    </li>
                                {{/hasPrevBlock}}
                                {{#prev}}
                                    <li class="page-item">
                                        <a class="page-link" href="{{contextPath}}/admin/form?page={{pageDto.prevPageNum}}">
                                            &lt;ㅇㄴㅁ
                                        </a>
                                    </li>
                                {{/prev}}
                                {{#pageInfoList}}
                                    {{#isCurrent}}
                                        <li class="page-item active">
                                            <a class="page-link" href="{{contextPath}}/admin/form?page={{pageNum}}">{{pageNum}}</a>
                                        </li>
                                    {{/isCurrent}}
                                    {{^isCurrent}}
                                        <li class="page-item">
                                            <a class="page-link" href="{{contextPath}}/admin/form?page={{pageNum}}">{{pageNum}}</a>
                                        </li>
                                    {{/isCurrent}}
                                {{/pageInfoList}}
                                {{#next}}
                                <li class="page-item">
                                    <a class="page-link" href="{{contextPath}}/admin/form?page={{pageDto.nextPageNum}}">&gt;</a>
                                </li>
                                {{/next}}
                                {{#hasNextBlock}}
                                    <li class="page-item">
                                        <a class="page-link" href="{{&contextPath}}/admin/form?page={{pageDto.nextBlockNum}}">&raquo;
                                        </a>
                                    </li>
                                {{/hasNextBlock}}
                            {{/pageDto}}
<!--                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {{>layout/footer}}


</div>
<!-- ./wrapper -->

{{>layout/library}}

</body>
</html>
