<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FireWorks!</title>

    {{>layout/head}}
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    {{>layout/header}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">문서양식 관리</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">문서양식 관리</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <!-- 작업할 때 이 항목 내용을 수정하세요 -->
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">

                        <div class="d-flex justify-content-between">
                            <div class="form-group row my-0">
                                <form method="get">
                                    <div class="d-flex flex-row">
                                        <div class="form-group d-flex flex-row">
                                            <label for="type" class="align-self-center my-0 w-100">검색타입</label>
                                            <select class="custom-select form-control-border" name="type" id="type">
                                                <option value="T">문서양식명</option>
                                                <option value="C">문서양식내용</option>
                                                <option value="TC">양식명+양식내용</option>
                                            </select>
                                        </div>
                                        <div class="form-group mx-2 d-flex flex-row">
                                            <label for="search" class="align-self-center my-0">검색어</label>
                                            <div class="d-flex flex-row">
                                                <input class="form-control col-md-6 mx-2" type="text" id="keyword" name="keyword">
                                                <button class="btn btn-primary h-100">검색</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <a href="{{contextPath}}/admin/form/add" class="btn btn-primary h-100">글 등록</a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>문서양식 명</th>
                                <th>사용여부</th>
                                <th>등록일</th>
                                <th>관리</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{#formList}}
                                    <tr>
                                        <td>{{formNo}}</td>
                                        <td><a href="{{contextPath}}/admin/form/detail/{{formNo}}">{{formName}}</a></td>
                                        <td>
                                            {{#isUsed}}
                                                사용중
                                            {{/isUsed}}
                                            {{^isUsed}}
                                                미사용
                                            {{/isUsed}}
                                        </td>
                                        <td>{{regdate}}</td>
                                        <td>
                                            <a class="btn btn-warning mr-2" href="{{contextPath}}/admin/form/update/{{formNo}}">수정</a>
                                            <button class="btn btn-danger" data-toggle="modal" data-target="#formDeleteModal" data-form-no="{{formNo}}">삭제</button>
                                        </td>
                                    </tr>
                                {{/formList}}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                            {{#pageDto}}
                                {{#hasPrevBlock}}
                                    <li class="page-item">
                                        <a class="page-link" href="{{contextPath}}/admin/form{{prevBlockQueryString}}">
                                            &laquo;
                                        </a>
                                    </li>
                                {{/hasPrevBlock}}
                                {{#prev}}
                                    <li class="page-item">
                                        <a class="page-link" href="{{contextPath}}/admin/form{{prevQueryString}}">
                                            &lt;
                                        </a>
                                    </li>
                                {{/prev}}
                                {{#pageInfoList}}
                                    {{#isCurrent}}
                                        <li class="page-item active">
                                            <a class="page-link" href="/admin/form{{queryString}}">{{pageNum}}</a>
                                        </li>
                                    {{/isCurrent}}
                                    {{^isCurrent}}
                                        <li class="page-item">
                                            <a class="page-link" href="/admin/form{{queryString}}">{{pageNum}}</a>
                                        </li>
                                    {{/isCurrent}}
                                {{/pageInfoList}}
                                {{#next}}
                                <li class="page-item">
                                    <a class="page-link" href="{{contextPath}}/admin/form{{nextQueryString}}">&gt;
                                    </a>
                                </li>
                                {{/next}}
                                {{#hasNextBlock}}
                                    <li class="page-item">
                                        <a class="page-link" href="{{&contextPath}}/admin/form{{nextBlockQueryString}}">&raquo;
                                        </a>
                                    </li>
                                {{/hasNextBlock}}
                            {{/pageDto}}
<!--                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </section>


    </div>
        <!-- /.content -->

        <div class="modal fade" id="formDeleteModal" tabindex="-1" role="dialog" aria-labelledby="formDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formDeleteModalLabel">모달 제목</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <p><span id="formNoText"></span>번 양식을 삭제하시겠습니까?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-danger submitBtn">삭제</button>
                    </div>
                </div>
            </div>
        </div>
    <!-- /.content-wrapper -->
    {{>layout/footer}}


</div>
<!-- ./wrapper -->

{{>layout/library}}
<script>
    $(()=>{
        $('#formDeleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var formNo = button.data('form-no') // Extract info from data-* attributes

            console.log('button : ', button)
            console.log('formNo : ', formNo);

            var modal = $(this)

            var deleteUrl = "{{contextPath}}/admin/form/delete/" + formNo;

            modal.find('.modal-title').text('양식 삭제');
            modal.find("#formNoText").text(formNo);
            modal.find("#formNo").val(formNo);

            var form = modal.find('form');

            form.find("#formNo")

            var submitBtn = modal.find('.submitBtn')

            submitBtn.on("click", () =>{
                // console.log("입력 테스트");
                $.ajax({
                    url: deleteUrl,
                    method: 'DELETE',
                    success: function(response) {
                        console.log(response.data);

                        window.location.href = "{{contextPath}}/admin/form";
                    },
                    error: function(xhr, status, error) {
                        console.log("xhr", xhr);
                        console.log("status", status);
                        console.log("error", error);
                    }
                });
            });


        })

    })
</script>

</body>
</html>
